body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex; /* Evita la barra de desplazamiento horizontal */
    background-color: rgb(15, 15, 15);    
}
main{
    width: 81%;
    position: relative;
    left: 10%;
}
.works-title{
    position: relative;
}
/* Estilo para titulo de la clase work title */
.works-title h1{
    color: white; 
    margin-left: auto;
    margin-right: 90px;
    margin-top: 0px;
    font-family:'jost', sans-serif;
    font-size: 75px;
}
.works-title p{
    color: white;
    font-size: 20px;
}
.works-title2 {
    position: relative;
    left: 6%;
}
/* Estilo para titulo de la clase work title */
.works-title2 h1{
    color: white; 
    margin-left: auto;
    margin-right: 90px;
    margin-top: 0px;
    font-family:'jost', sans-serif;
    font-size: 75px;
}

/* Body de la pagina work  */
.work-body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(12, 12, 12);
}
.contact-body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(12, 12, 12);
}
/* Clase del body de archivo video */
.video{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex; 
    background-color: rgb(0, 0, 0);
}
/* Estilo a etiqueta a de la clase redes */
.redes a{
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 20px;
}
  /* Estilo a etiqueta img de la clase redes */
.redes img{
    width: 58px;
    height: 33px;
    margin-bottom: 20px;
    background-color: transparent !important;
  }
  /* Estilo a clase ig de la clase redes */
.redes .ig{
    text-decoration: none;
    margin-right: 3px;
    margin-left: 7px;
    width: 39px;
  }
/* Menu de navegaciòn */
.navegacion{ 
    position: fixed;
    margin-bottom: 0px;
    margin-right: 24px;
    color: white;
    font-family: 'jost', sans-serif;
    transform: translate(1230px, 350px);
}
/* Botones de menu de navegacion */
.navegacion ul{
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Establece el contenedor como un contenedor flexible */
    flex-direction: column; 
}
/* Separacion entre botones del menù */
.navegacion li{
    margin-bottom: 25px;
}
/* Estilos de botones de menu de navegacion */
.navegacion .inicio{
    text-decoration: none;
    color: white;
    padding: 11px 21px 11px 21px;
}
.navegacion .inicio:hover{
    color: black;
}
/* Navegacion de work */
/* Menu de navegaciòn */
.navegacionw{ 
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    margin-right: 34px;
    color: white;
    font-family: 'jost', sans-serif;
}
/* Estilos para todos los botones */
button {
    background-color: transparent !important; /* Puedes ajustar el color según tus preferencias */
    color: white;
}
.hover-element {
    padding: 10px;
    cursor: pointer;
}
/* Mostrar la imagen al pasar el mouse sobre el elemento */
.container:hover .hover-image {
    display: block;
}

/* Estilos para contenedor de about me */
.aboutMe{
    position: absolute;
    background-color: transparent !important; 
    left: 5%;
    top: 1%;
    color: white;
    width: 1220px;
    height: 500px;
}
/* Estilos para etiquetas h1 de la pagina de about me*/
.aboutMe h2{
    font-family: 'jost', sans-serif;
    font-size: 90px;
    margin-left: 35%;
}
/* Estilos para etiquetas p de la pagina de about me*/
.aboutMe p{
    font-family: 'jost', sans-serif;
    font-size: 22px;
    position: relative;
    width: 939px;
    bottom: 524px;
    left: 318px;
}
.aboutMe img{
    width: 300px;
    height: 500px;
    position: relative;
    bottom: 7%;
    border-radius: 20px;
    
}
/* Contenedor del titulo en la pagina principal */
.titulo{
    position: absolute;
    background-color: transparent !important; 
    transform: translate(30%, 95%);
    color: white;   
}
/* Estilos para el titulo */
.titulo h1 {
    font-family: 'jost', sans-serif;
    font-size: 47px;
    margin-bottom: 0px;
}
/* Estilo para parrafo debajo del titulo */
.titulo p{
    font-family: 'jost', sans-serif;
    font-size: 28px;
}
/* Contenedor de datos de contacto */
.contacto{
    position: absolute;
    background-color: transparent !important; 
    left: 5%;
    top: 20%;
    color: white;
}
/* Estilos para etiquetas h1 de la pagina de contacto*/
.contacto h2{
    font-family: 'jost', sans-serif;
    font-size: 55px;
}
/* Estilos para etiquetas p de la pagina de contacto*/
.contacto p{
    font-family: 'jost', sans-serif;
    font-size: 25px;
}
/* Contenedor de informacion de celular */
.celular{
    position: absolute;
    background-color: transparent !important; 
    left: 5%;
    top: 40%;
    color: white;
}
/* Estilos para etiquetas p de la pagina de contacto*/
.celular p{
    font-family: 'jost', sans-serif;
    font-size: 25px;
}
/* Estilos para todas las etiquetas "VIDEO" */
.fondo {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}
/* Estilos del carousel */
.carousel{
    width: 100%;
    bottom:1%
}
/* Union de los slide */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
/* Bordes de imagenes del slide */
.imagen-work{
    border-radius: 20px;
    height: 542px;
  }
  /* Estilo del container de imagenes que  van abajo del slide */
.container{
    text-align: center;
    align-content: center;
    font-family: 'jost',sans-serif;
    height: 100%;
}
/* Estilos para el titulo de coleccion de iamgenes */
.container h1{
    color: white;
    font-family: 'jost', sans-serif ;
    font-size: 47px;
    display: contents;
}
/* margen para imagenes de abajo del slide */
.colunm img{
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px;
    width: 90%;
    height: 100%;
}
.image-container a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}  
.title-works{
    text-align: center;
    color: white;
    font-family: 'jost', sans-serif;
    position: relative;
    left: 533px;
    top: -51px;
}
.title-works h1{
    font-size: 80px;
}
.mosaico {
    width: 100%;
    height: 22%;
    top: 3%;
    position: relative;
}
.image-container {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11%;
}    
.proyect, .proyect2, .proyect3 {
    position: relative;
    width: 100%;
    height: 100%;
}     
.proyect img, .proyect2 img, .proyect3 img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}
        
.proyect:hover img, .proyect2:hover img, .proyect3:hover img {
    opacity: 0.7;
}
        
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.proyect:hover .overlay2, .proyect2:hover .overlay2, .proyect3:hover .overlay2 {
    opacity: 1;
}  
.proyect {
    width: 64%;
    height: 127%;
}  
.proyect2 {
    width: 100%;
    height: 51%;
    margin-bottom: 14px;
}
.proyect3 {
    width: 100%;
    height: 51%;
}
.column {
    height: 121%;
    width: 35%;

}
    .titulo2{
    background-color: transparent !important;
    color: white;
    left: 2%;
    position: relative;
    width: 24%;
    }
    .titulo2 h1{
        font-family: 'jost', sans-serif;
        font-size: 33px;
        margin-bottom: 0px;
        color: white;
    }
    .titulo2 p{
        font-family: 'jost', sans-serif;
        font-size: 24px;
        margin-bottom: 0px;
        color: white;
    }
    .menu {
        transform: translate(0%, 126%);
    display: flex;
    flex-direction: row-reverse;
    }
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .menu ul li {
        margin-left: 20px;
    }
    .menu ul li a {
        color: #fff;
        text-decoration: none;
        font-family: 'jost', sans-serif;
    }
    a{
        text-decoration: none;
        
    }
    .menu a{
        display: contents;
    }
    .menu ul li a:hover {
        text-decoration: underline;
    }
    .carousel-item video {
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .container2 {
        width: 100%;
    }
    .row {
        display: flex;
        justify-content: space-between;
        margin: 35px 0;
        width: 100%;
        position: relative;
    }
    .row img {
        width: 106%;
        transition: opacity 0.3s ease;
    }
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -50%);
        color: rgb(255, 255, 255);
        font-size: 24px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.9s ease;
        pointer-events: none;
        font-family: 'jost';
        background-color: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 100%;
        align-content: center;
    }
    .project-container {
        position: relative;
        width: 33%;
    }
    .row:hover img {
        opacity: 0.4;
    }
    .row:hover .overlay {
        opacity: 0.6;
    }
    .categoria {
        font-family: 'jost';
        color: white;
        display: flex;
        flex-direction: row-reverse;
    }
    .overlay p{
        font-size: 15px;
    }

/* -------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 376px) {

    
    /* Contenedor de redes (IG Y IMDB) */
    .navegacionw .redes{
        margin-left:14px;
    }
    /* Estilos para imagenes de redes */
    .redes img{
        width: 46px;
        height: 28px;
    }
    /* Estilos para icono de instagram  */
    .redes .ig{
        width: 32px;
    }
    /* menu de navegacion */
    .navegacion{
        padding: 6px 11px 6px 11px;
        margin-bottom: 0%;
        margin-right: 0px;
        transform: translate(255px, 320px);
    }
    .titulo h1 {
        font-family: 'jost', sans-serif;
        font-size: 37px;
        margin-bottom: 12px;
    }
    .menu{
        transform: translate(-2%, 212%);
    }
    .titulo2 {
        transform: translate(38%, 10%);
        
    }
    .image-container {
        width: 98%;
        position: relative;
        top: 44px;
        height: 233px;
        margin-left: 61px;
        margin-right: 30px;
        right: 51px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-content: stretch;
        margin-bottom: 87%;
    }
    .proyect{
        width: 100%;
        margin-bottom: 3%;
    }
    .titulo p {
        font-size: 26px;
    }
    .column{
        margin-bottom: 11%;
        width: 100%;
        height: 120%;
    }
    .proyect2{
        width: 100%;
        height: 51%;
        margin-bottom: 14px;
    }
    .row{
        width: 123%;
    }
    .container2{
        transform: translate(-6%,18%);
    }
    .categoria{
    transform: translate(4%, 4px);
    width: 60%;
    }
    .row img{
        width: 124%;
    }
    /* Titulo de works */
    .works-title {    
        bottom: 302px;
        left: 2%;
    }
    .works-title2 {
        position: relative;
        left: 16%;
        bottom: 311px;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 260px;
        top: 8px;
        left: 1px;
        padding-top: 39px;
        position: relative;
        font-size: 27px;
      }
      /* Union de los slide */
    .carousel-inner {
        height: 100%;
    }
    /* Estilo del container de imagenes que  van abajo del slide */
    .container {
        position: relative;
        top: 18%;
        height: 100%;
    }
    /* Estilos del carousel */
    .carousel{
        left: 17px;
        top: 146px;
        width: 91%;
    }
    .title-works{
    text-align: center;
    color: white;
    font-family: 'jost', sans-serif;
    position: relative;
    left: 89px;
    top: -51px;
    }  
    .title-works h1 {
        font-size: 64px;
    }
    /* Estilo a botones de menu */
    .navegacion .inicio {
        padding: 6px 11px 6px 11px;
        font-size: 14px;
    }
    /* Menu de navegaciòn */
    .navegacionw{ 
        position: absolute;
        margin-right: 11px;
        top: 161%;
    }
    /* Estilo a botones de menu */
    .navegacionw .inicio {
        padding: 6px 11px 6px 11px;
        font-size: 13px;
    }
    /* Contenedor de datos de contacto */
    .aboutMe{
        top: 11%;
        width: 351px;
    }
    .aboutMe img {
        width: 226px;
        height: 341px;
        bottom: 7%;
        border-radius: 20px;
        left: 18%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .aboutMe h2{
        font-size: 54px;
        position: relative;
        left: 15%;
        width: 260px;
        margin-left: 0px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .aboutMe p{
        font-size: 20px;
        position: relative;
        left: 8px;
        width: 335px;
        bottom: 3%;
    }
    /* Estilos para todas las etiquetas "VIDEO" */
    video {
        top: 50%;
    }
    h6{
        font-size: 13px;
    }
    .colunm {
        height: 100%;
    }
    /* margen para imagenes de abajo del slide */
    .colunm img{
        border-radius: 5px;
        width: 102%;
        margin-bottom: -16px;
        height: 100%;
    }
    .overlay{
        display: none;
    }
    /* Estilo para titulo de la clase work title */
    .works-title h1{
        margin-right: 3px;
        font-size: 33px;
    }
    /* Contenedor de datos de contacto */
    .contacto{
        top: 30%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .contacto h2{
        font-size: 77px;
        position: absolute;
        left: 13%;
        bottom: 232px;
        margin-bottom: 10px;   
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .contacto p{
        font-size: 23px;
        position: relative;   
    }
    .fondo{
        height: 100%;
    }
}
    /* -------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 377px) and (max-width: 391px) {

    .navegacionw .redes{
        margin-left:14px;
    }
      /* Estilo a etiqueta img de la clase redes */
    .redes img{
        width: 46px;
        height: 28px;
    }
      /* Estilo a clase ig de la clase redes */
    .redes .ig{
        width: 32px;
    }
    .fondo{
        height: 100%;
    }
    /* Menu de navegaciòn */
    .navegacion{
        padding: 6px 11px 6px 11px;
        margin-bottom: 0%;
        margin-right: -2px;
        transform: translate(275px, 320px);
    }
    h6{
        font-size: 13px;
    }
    .menu{
        transform: translate(-2%, 212%);
    }
    .titulo2 {
        transform: translate(46%, 10%); 
    }
    .image-container {
        width: 98%;
        position: relative;
        top: 44px;
        height: 233px;
        margin-left: 61px;
        margin-right: 30px;
        right: 51px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-content: stretch;
        margin-bottom: 87%;
    }
    .proyect{
        width: 100%;
        margin-bottom: 3%;
    }
    .titulo p {
        font-size: 26px;
    }
    .overlay{
        display: none;
    }
    .column{
        margin-bottom: 11%;
        width: 100%;
        height: 100%;
    }
    .proyect2{
        width: 100%;
        height: 51%;
        margin-bottom: 14px;
    }
    .row{
        width: 126%;
    }
    .container2{
        transform: translate(-8%,18%);
    }
    .row img {
        width: 122%;
    }
    .categoria{
    transform: translate(9%, 2px);
    width: 60%;
    }
    /* Titulo de works */
    .works-title {    
        bottom: 542px;
        left: 2%;
    }
    .works-title2 {
        position: relative;
        left: 16%;
        bottom: 257px;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 260px;
        top: 8px;
        left: 1px;
        padding-top: 39px;
        position: relative;
        font-size: 27px;
      }
      /* Union de los slide */
    .carousel-inner {
        height: 100%;
    }
    /* Estilo del container de imagenes que  van abajo del slide */
    .container {
        position: relative;
        top: 18%;
        height: 100%;
    }
    .title-works{
        left: 73px;
        top: 67px;
    }
    .titulo{
        transform: translate(9%, 73%);
    }
    .title-works h1 {
        font-size: 59px;
    }
    .image-container {
        top: 3px;
        height: 304px;
        margin-left: -8px;
        margin-right: 30px;
        right: 0;
        width: 286px;
        left: 4px;
    }
    /* Estilos de botones de menu de navegacion */
    .navegacion .inicio {
        padding: 6px 11px 6px 11px;
        font-size: 14px;
    }
     /* Contenedor de datos de contacto */
    .aboutMe{
        top: 11%;
        width: 364px;
    }
    .compartirBtn {
        left: 55px;
    }
    .aboutMe img {
        width: 226px;
        height: 341px;
        left: 18%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .aboutMe h2{
        font-size: 54px;
        position: relative;
        left: 15%;
        width: 260px;
        margin-left: 0px;
        
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .aboutMe p{
        font-size: 20px;
        left: 4px;
        width: 352px;
        bottom: 3%;
    }
    /* Estilos para el titulo */
    .titulo h1{
        font-size: 37px;
        margin-bottom: 9px;
    }
    /* Estilo para parrafo debajo del titulo */
    .titulo p{
        font-size: 25px;
    }
    /* Estilos del carousel */
    .carousel{
        left: 16px;
        top: 105px;
        width: 91%;
    }
    .carousel-inner {
        height: 100%;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 250px;
        top: 62px;
        left: 1px;
        padding-top: 39px;
      }
    .container {
        height: 100%;
    }
    .overlay{
        display: none;
    }
    .colunm {
        height: 100%;
    }
    /* margen para imagenes de abajo del slide */
    .colunm img{
        border-radius: 5px;
        width: 102%;
        margin-bottom: -16px;
        height: 100%;
    }
    .works-title {    
        bottom: 306px;
        left: 2%;
    }
    /* Estilo para titulo de la clase work title */
    .works-title h1{
        margin-right: 3px;
        font-size: 35px;
    }
    /* Contenedor de datos de contacto */
    .contacto{
        top: 30%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .contacto h2{
        font-size: 77px;
        position: absolute;
        left: 24%;
        bottom: 195px;
        margin-bottom: 10px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .contacto p{
        font-size: 20px;
        position: relative;
    }
    }
    
/* -------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 392px) and (max-width: 415px) {
    
    .navegacionw .redes{
        margin-left:14px;
    }
      /* Estilo a etiqueta img de la clase redes */
    .redes img{
        width: 46px;
        height: 28px;
    }
      /* Estilo a clase ig de la clase redes */
    .redes .ig{
        width: 32px;
    }
    /* Menu de navegaciòn */
    .navegacion{
        padding: 6px 11px 6px 11px;
        margin-bottom: 0%;
        margin-right: -2px;
        transform: translate(275px, 320px);
    }
    h6{
        font-size: 13px;
    }
    .titulo{
        transform: translate(9%, 73%);
    }
    .title-works{
        left: 85px;
        top: 67px;
    }
    .fondo{
        height: 100%;
    }
    .title-works h1 {
        font-size: 59px;
    }
    .menu{
        transform: translate(-2%, 212%);
    }
    .titulo2 {
        transform: translate(50%, 10%); 
    }
    .image-container {
        width: 98%;
        position: relative;
        top: 44px;
        height: 233px;
        margin-left: 61px;
        margin-right: 30px;
        right: 51px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-content: stretch;
        margin-bottom: 87%;
    }
    .proyect{
        width: 100%;
        margin-bottom: 3%;
    }
    .titulo p {
        font-size: 26px;
    }
    .column{
        margin-bottom: 11%;
        width: 100%;
        height: 100%;
    }
    .proyect2{
        width: 100%;
        height: 51%;
        margin-bottom: 14px;
    }
    .row{
        width: 124%;
    }
    .row img {
        width: 122%;
    }
    .container2{
        transform: translate(-6%,18%);
    }
    .categoria{
    transform: translate(4%, 6px);
    width: 60%;
    }
    /* Titulo de works */
    .works-title {    
        bottom: 542px;
        left: 2%;
    }
    .works-title2 {
        position: relative;
        left: 16%;
        bottom: 261px;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 260px;
        top: 8px;
        left: 1px;
        padding-top: 39px;
        position: relative;
        font-size: 27px;
      }
      /* Union de los slide */
    .carousel-inner {
        height: 100%;
    }
    /* Estilo del container de imagenes que  van abajo del slide */
    .container {
        position: relative;
        top: 18%;
        height: 100%;
    }
    /* Estilos del carousel */
    .carousel{
        left: 17px;
        top: 111px;
        width: 91%;
    }
    .image-container {
        top: -9px;
        height: 304px;
        margin-left: 5px;
        margin-right: 30px;
        right: 0px;
    }
    
    /* Estilos de botones de menu de navegacion */
    .navegacion .inicio {
        padding: 6px 11px 6px 11px;
        font-size: 14px;
    }
       /* Contenedor de datos de contacto */
       .aboutMe{
        top: 11%;
        width: 384px;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .aboutMe h2{
        font-size: 54px;
        position: relative;
        left: 21%;
        width: 228px;
        margin-left: 0px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .aboutMe p{
        font-size: 16px;
        position: relative;
    }
    /* Estilos para el titulo */
    .titulo h1{
        font-size: 41px;
        margin-bottom: 10px;
    }
    /* Estilo para parrafo debajo del titulo */
    .titulo p{
        font-size: 27px;
    }
    .overlay{
        display: none;
    }
    
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 250px;
        top: 67px;
        left: 1px;
        padding-top: 39px;
    }
    .container {
        height: 100%;
    }
    .colunm {
        height: 100%;
    }
    /* margen para imagenes de abajo del slide */
    .colunm img{
        border-radius: 5px;
        width: 102%;
        margin-bottom: -16px;
        height: 100%;
    }
    .works-title {    
        bottom: 323px;
        left: 2%;
    }
    /* Estilo para titulo de la clase work title */
    .works-title h1{
        margin-right: 3px;
        font-size: 35px;
    }
    /* Contenedor de datos de contacto */
    .contacto{
        top: 30%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .contacto h2{
        font-size: 77px;
        position: absolute;
        left: 26%;
        bottom: 195px;
        margin-bottom: 10px;   
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .contacto p{
        font-size: 20px;
        position: relative;
    }
    }

/* ------------------------------------------------------------------------------------------------ */
@media screen and (min-width: 416px) and (max-width: 430px) {
   
  /* Estilo a etiqueta img de la clase redes */
.redes img{
    width: 46px;
    height: 28px;
}
  /* Estilo a clase ig de la clase redes */
.redes .ig{
    width: 32px;
}
/* Menu de navegaciòn */
.navegacion{
    padding: 6px 11px 6px 11px;
    margin-bottom: 0%;
    margin-right: -2px;
}
.title-works{
    left: 76px;
    top: 60px;
}
.titulo{
    transform: translate(9%, 73%);
}
.title-works h1 {
    font-size: 64px;
}
h6 {
    font-size: 13px;
}.menu{
    transform: translate(-2%, 212%);
}
.titulo2 {
    transform: translate(50%, 10%);
}
.overlay{
    display: none;
}
.image-container {
    width: 98%;
    position: relative;
    top: 44px;
    height: 233px;
    margin-left: 61px;
    margin-right: 30px;
    right: 51px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-bottom: 87%;
}
.proyect{
    width: 100%;
    margin-bottom: 3%;
}
.titulo p {
    font-size: 26px;
}
.column{
    margin-bottom: 11%;
    width: 100%;
    height: 100%;
}
.proyect2{
    width: 100%;
    height: 51%;
    margin-bottom: 14px;
}
.row{
    width: 123%;
}
.row img {
    width: 120%;
    transition: opacity 0.3s ease;
}
.container2{
    transform: translate(-6%,18%);
}
.categoria{
transform: translate(4%, -12px);
width: 60%;
}
/* Titulo de works */
.works-title {    
    bottom: 542px;
    left: 2%;
}
.works-title2 {
    position: relative;
    left: 16%;
    bottom: 277px;
}
/* Bordes de imagenes del slide */
.imagen-work{
    border-radius: 17px;
    height: 260px;
    top: 8px;
    left: 1px;
    padding-top: 39px;
    position: relative;
    font-size: 27px;
  }
/* Estilo del container de imagenes que  van abajo del slide */
.container {
    position: relative;
    height: 100%;
    top: 18%;
}
/* Estilos del carousel */
.carousel{
    left: 17px;
    top: 117px;
    width: 91%;
}
.image-container {
    top: -9px;
    height: 304px;
    margin-left: 5px;
    margin-right: 30px;
    right: 0px;
}
/* Estilos de botones de menu de navegacion */
.navegacion .inicio {
    padding: 6px 11px 6px 11px;
    font-size: 14px;
}
   /* Contenedor de datos de contacto */
   .aboutMe{
    top: 11%;
    width: 401px;
}
/* Estilos para etiquetas h1 de la pagina de contacto*/
.aboutMe h2{
    font-size: 54px;
    position: relative;
    left: 21%;
    width: 228px;
    margin-left: 0px;
}
/* Estilos para etiquetas p de la pagina de contacto*/
.aboutMe p{
    font-size: 16px;
    position: relative;
}
.fondo{
    height: 100%;
}
/* Estilos para el titulo */
.titulo h1{
    font-size: 41px;
    margin-bottom: 7px;
}
/* Estilo para parrafo debajo del titulo */
.titulo p{
    font-size: 28px;
}
/* Union de los slide */
.carousel-inner {
    height: 100%;
}
/* Bordes de imagenes del slide */
.imagen-work{
    border-radius: 17px;
    height: 263px;
    top: 54px;
    left: 1px;
    padding-top: 52px;
}
.container {
    height: 100%;
}
.colunm {
    height: 100%;
}
/* margen para imagenes de abajo del slide */
.colunm img{
    border-radius: 5px;
    width: 102%;
    margin-bottom: -16px;
    height: 100%;
}
 /* Estilos del contenedor del titulo de works */
.works-title {    
    bottom: 331px;
    left: 2%;
}
/* Estilo para titulo de la clase work title */
.works-title h1{
    margin-right: 0px;
    font-size: 40px;
    position: relative;
}
/* Contenedor de datos de contacto */
.contacto{
    top: 30%;
}
/* Estilos para etiquetas h1 de la pagina de contacto*/
.contacto h2{
    font-size: 77px;
    position: absolute;
    left: 27%;
    bottom: 195px;
    margin-bottom: 10px;   
}
/* Estilos para etiquetas p de la pagina de contacto*/
.contacto p{
    font-size: 20px;
    position: relative;
}
  }
  
  /* ------------------------------------------------------------------------------------------------ */
  @media screen and (min-width: 431px) and (max-width: 767px) {

   /* Estilo a etiqueta img de la clase redes */
 .redes img{
     width: 58px;
     height: 33px;
     margin-bottom: 20px;
     background-color: transparent ;
 }
   /* Estilo a clase ig de la clase redes */
 .redes .ig{
     width: 32px;
     text-decoration: none;
     margin-right: 3px;
     margin-left: 7px;
     width: 39px;
 }
 /* Menu de navegaciòn */
 .navegacion{
     padding: 6px 11px 6px 11px;
     margin-bottom: 0%;
     margin-right: -2px;
     transform: translate(635px, 320px);
 }
 .fondo{
    height: 100%;
}
 .title-works{
    left: 54px;
    bottom: 313px;
}
.titulo{
    transform: translate(9%, 93%);
}
.title-works h1 {
    font-size: 71px;
        left: 77%;
    position: relative;
}
.row {
    width: 117%;
}
.row img {
    width: 110%;
}
.container2 {
    transform: translate(3%, 12%);
}
.categoria {
    transform: translate(315%, -12px);
    width: 162px;
}
.menu{
    transform: translate(86%, 84%);
    width: 374px;
}
.titulo2{
    transform: translate(27%, 34%);
}
.image-container {
    top: -18px;
        height: 304px;
        margin-left: 0px;
        margin-right: 30px;
        right: 73px;
        width: 116%;
}
 /* Estilos de botones de menu de navegacion */
 .navegacion .inicio {
     padding: 11px 21px 11px 21px;
 }
    /* Contenedor de datos de contacto */
    .aboutMe{
     top: 11%;
     width: 701px;
 }
 /* Estilos para etiquetas h1 de la pagina de contacto*/
 .aboutMe h2{
     font-size: 54px;
     position: relative;
     left: 35%;
     width: 228px;
     margin-left: 0px; 
 }
 /* Estilos para etiquetas p de la pagina de contacto*/
 .aboutMe p{
     font-size: 16px;
     position: relative;
 }
 /* Estilos para el titulo */
 .titulo h1{
     font-size: 61px;
 }
 /* Estilo para parrafo debajo del titulo */
 .titulo p{
     font-size: 28px;
 }
 /* Estilos del carousel */
 .carousel{
     left: 56px;
     top: 116px;
     width: 85%;
 }
 /* Union de los slide */
 .carousel-inner {
     height: 100%;
 }
 /* Bordes de imagenes del slide */
 .imagen-work{
     border-radius: 17px;
     height: 430px;
     top: 109px;
     left: 1px;
     padding-top: 52px;
 }
 .container {
     height: 100%;
 }
 .colunm {
     height: 100%;
 }
 /* margen para imagenes de abajo del slide */
 .colunm img{
     border-radius: 5px;
     width: 102%;
     margin-bottom: -16px;
     height: 100%;
 }
 .works-title2 {
    position: relative;
    left: 9%;
    bottom: 472px;
}
 .works-title {    
     bottom: 501px;
     left: 3%;
 }
 /* Estilo para titulo de la clase work title */
 .works-title h1{
     margin-right: 0px;
     font-size: 52px;
     position: relative;
 }
 /* Contenedor de datos de contacto */
 .contacto{
     top: 30%;
 }
 /* Estilos para etiquetas h1 de la pagina de contacto*/
 .contacto h2{
     font-size: 77px;
     position: absolute;
     left: 0%;
     bottom: 195px;
     margin-bottom: 10px;
 }
 /* Estilos para etiquetas p de la pagina de contacto*/
 .contacto p{
     font-size: 20px;
     position: relative;
 }
 .compartirBtn{
    left: 59px;
}
}
/* -------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
     /* Estilo a etiqueta img de la clase redes */
   .redes img{
       width: 58px;
       height: 33px;
       margin-bottom: 20px;
       background-color: transparent ;
   }
     /* Estilo a clase ig de la clase redes */
   .redes .ig{
       width: 32px;
       text-decoration: none;
       margin-right: 3px;
       margin-left: 7px;
       width: 39px;
   }
   /* Menu de navegaciòn */
   .navegacion{
       padding: 6px 11px 6px 11px;
       margin-bottom: 0%;
       margin-right: -2px;
       transform: translate(843px, 320px);
   }
   .title-works{
    left: 54px;
    bottom: 313px;
}
.titulo{
    transform: translate(9%, 93%);
}
.title-works h1 {
    font-size: 71px;
        left: 132%;
    position: relative;
}
.menu {
    transform: translate(118%, 71%);
    width: 400px;
}
.row {
    width: 78%;
}
   /* Estilos de botones de menu de navegacion */
   .navegacion .inicio {
       padding: 11px 21px 11px 21px;
   }
   /* Menu de navegaciòn */
   .navegacionw{ 
       position: absolute;
       margin-right: 6px;
       top: 300%;
   }
   .navegacionw .inicio {
       padding: 11px 21px 11px 21px;
   }
      /* Contenedor de datos de contacto */
      .aboutMe{
       top: 11%;
   }
   /* Estilos para etiquetas h1 de la pagina de contacto*/
   .aboutMe h2{
       font-size: 66px;
       position: relative;
       left: 37%;
       width: 272px;
       margin-left: 0px;
   }
   /* Estilos para etiquetas p de la pagina de contacto*/
   .aboutMe p{
       font-size: 19px;
       position: relative;
   }
   .titulo h1{
       font-size: 71px;
   }
   /* Estilo para parrafo debajo del titulo */
   .titulo p{
       font-size: 37px;
   }
   /* Estilos del carousel */
   .carousel{
       left: 177px;
       top: 19%;
       width: 70%; 
   }
   /* Union de los slide */
   .carousel-inner {
       height: 100%;
   }
   /* Bordes de imagenes del slide */
   .imagen-work{
       border-radius: 17px;
       height: 500px;
       top: 109px;
       left: 1px;
       padding-top: 81px;
     }
     .container {
       height: 100%;
   }
   .colunm {
       height: 100%;
   }
   /* margen para imagenes de abajo del slide */
   .colunm img{
       border-radius: 5px;
       width: 102%;
       margin-bottom: -16px;
       height: 100%;
   }
    /* Estilos del contenedor del titulo de works */
   .works-title {    
       bottom: 534px;
       left: 2%; 
   }
   .works-title2 {
    left: 7%;
}
   /* Estilo para titulo de la clase work title */
   .works-title h1{
       font-size: 65px;
       left: 6%;
       position: relative;
   }
   /* Contenedor de datos de contacto */
   .contacto{
       top: 30%;
   }
   .container2 {
    margin: 20px;
    transform: translate(28%, 12%);
    width: 66%;
}
.row {
    width: 102%;
}
   .categoria {
    transform: translate(228%, -12px);
    font-family: 'jost';
    color: white;
    width: 200px;
}
   /* Estilos para etiquetas h1 de la pagina de contacto*/
   .contacto h2{
       font-size: 79px;
       left: -6px;
       position: absolute;
       bottom: 195px;
       margin-bottom: 10px;
   }
   /* Estilos para etiquetas p de la pagina de contacto*/
   .contacto p{
       font-size: 20px;
       position: relative;   
   }
   .compartirBtn{
    left: 60px;
}
   }
   
/* ----------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    .title-works { 
        left: 439px;
        bottom: 340px;
    }
      /* Estilo a etiqueta img de la clase redes */
    .redes img{
        width: 58px;
        height: 33px;
        margin-bottom: 20px;
        background-color: transparent ;
    }
      /* Estilo a clase ig de la clase redes */
    .redes .ig{
        width: 32px;
        text-decoration: none;
        margin-right: 3px;
        margin-left: 7px;
        width: 39px;
    }
    /* Menu de navegaciòn */
    .navegacion{
        padding: 6px 11px 6px 11px;
        margin-bottom: 9%;
        margin-right: 22px;
        bottom: 0;
        right: 0;
    }
    /* Estilos de botones de menu de navegacion */
    .navegacion .inicio {
        padding: 11px 21px 11px 21px;
    }
       /* Contenedor de datos de contacto */
    .aboutMe{
        top: 11%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .aboutMe h2{
        font-size: 74px;
        position: relative;
        left: 32%;
        width: 298px;
        margin-left: 0px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .aboutMe p{
        font-size: 21px;
        position: relative;
    }
    /* Estilos para el titulo */
    .titulo h1{
        font-size: 75px;
    }
    .titulo{
        transform: translate(9%, 83%);
    }
    /* Estilo para parrafo debajo del titulo */
    .titulo p{
        font-size: 40px;
    }
    .works-title2 {
        position: relative;
        left: 5%;
        bottom: 628px;
    }
    /* Estilos del carousel */
    .carousel {
        left: 175px;
        top: 16%;
        width: 77%;
    }
    /* Union de los slide */
    .carousel-inner {
        height: 100%;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 607px;
        top: 109px;
        left: 1px;
        padding-top: 81px;
      }
    .container {
        height: 100%;
    }
    h3{
        font-size: 39px;
    }
    h6{
        font-size: 21px;
    }
    .colunm {
        height: 100%;
    }
    /* margen para imagenes de abajo del slide */
    .colunm img{
        border-radius: 5px;
        width: 85%;
        margin-bottom: -16px;
        height: 100%;
    }
     /* Estilos del contenedor del titulo de works */
     .works-title {
        bottom: 541px;
        left: -1%;
    }
    /* Estilo para titulo de la clase work title */
    .works-title h1{
        font-size: 64px;
        left: 6%;
        position: relative;
    }
    /* Contenedor de datos de contacto */
    .contacto{
        top: 35%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .contacto h2{
        font-size: 77px;
        position: absolute;
        bottom: 114px;
        margin-bottom: 10px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .contacto p{
        font-size: 20px;
        position: relative; 
    }
    .image-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: -49px;
        height: 304px;
        left: -43px;
        margin-left: 61px;
        margin-right: 30px;
        width: 103%;
    }
    .menu {
        transform: translate(143%, 140%);
    }
    .row {
        width: 107%;
    }
    .title-works{
        text-align: center;
        color: white;
        font-family: 'jost', sans-serif;
        position: absolute;
        left: 468px;
        top: 39px;
    }
    .title-works h1{ 
        font-size: 96px;
    }
    .compartirBtn{
        position: relative;
        left: 60px;
    }
    }
    /* ----------------------------------------------------------------------------------- */
    /* Media query para anchos entre 1400px y 1600px */
@media (min-width: 1400px) and (max-width: 1600px) {
    
    .title-works {
        left: 439px;
        bottom: 340px;
    }
      /* Estilo a etiqueta img de la clase redes */
    .redes img{
        width: 58px;
        height: 33px;
        margin-bottom: 20px;
        background-color: transparent ;
    }
      /* Estilo a clase ig de la clase redes */
    .redes .ig{
        width: 32px;
        text-decoration: none;
        margin-right: 3px;
        margin-left: 7px;
        width: 39px;
    }
    /* Menu de navegaciòn */
    .navegacion{
        padding: 6px 11px 6px 11px;
        margin-bottom: 9%;
        margin-right: 22px;
        transform: translate(1461px, 349px);
    }
    /* Estilos de botones de menu de navegacion */
    .navegacion .inicio {
        padding: 11px 21px 11px 21px;
    }
       /* Contenedor de datos de contacto */
    .aboutMe{
        top: 11%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .aboutMe h2{
        font-size: 74px;
        position: relative;
        left: 32%;
        width: 298px;
        margin-left: 0px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .aboutMe p{
        font-size: 21px;
        position: relative;
    }
    /* Estilos para el titulo */
    .titulo h1{
        font-size: 75px;
    }
    .titulo{
        transform: translate(9%, 73%);
    }
    /* Estilo para parrafo debajo del titulo */
    .titulo p{
        font-size: 40px;
    }
    /* Estilos del carousel */
    .carousel {
        left: 17%;
        top: 18%;
        width: 69%;
    }
    .container2 {
        margin: 20px;
        transform: translate(24%, 8%);
        width: 68%;
    }
    .categoria {
        transform: translate(177%, -12px);
        font-family: 'jost';
        color: white;
        width: 500px;
    }
    .column {
        height: 120%;
        width: 35%;
    }
    .row {
        display: flex;
        justify-content: space-between;
        margin: 35px 0;
        width: 100%;
        position: relative;
    }
    .works-title2 {
        position: relative;
        left: 5%;
        bottom: 597px;
    }
    /* Union de los slide */
    .carousel-inner {
        height: 100%;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 574px;
        padding-top: 81px;
      }
    .container {
        height: 100%;
    }
    h3{
        font-size: 39px;
    }
    h6{
        font-size: 21px;
    }
    .colunm {
        height: 100%;
    }
    .titulo2 {
        position: absolute;
        background-color: transparent !important;
        transform: translate(127%, 34%);
        color: white;
    }
    .menu {
        transform: translate(203%, 142%);
    }
    /* margen para imagenes de abajo del slide */
    .colunm img{
        border-radius: 5px;
        width: 85%;
        margin-bottom: -16px;
        height: 100%;
    }
     /* Estilos del contenedor del titulo de works */
    .works-title {
        bottom: 702px;
        left: -1%;
    }
    /* Estilo para titulo de la clase work title */
    .works-title h1{
        font-size: 44px;
        left: 7%;
        position: relative;
        top: 17px;
    }
    /* Contenedor de datos de contacto */
    .contacto{
        top: 35%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .contacto h2{
        font-size: 77px;
        position: absolute;
        bottom: 114px;
        margin-bottom: 10px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .contacto p{
        font-size: 20px;
        position: relative; 
    }
    .image-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: -4px;
        height: 304px;
        left: 15px;
        margin-left: 61px;
        margin-right: 30px;
        width: 93%;
    }  
    .title-works{
        text-align: center;
        color: white;
        font-family: 'jost', sans-serif;
        position: absolute;
        left: 468px;
        top: 39px;
    }
    .title-works h1{
        font-size: 96px;
    }
    .compartirBtn{
        position: relative;
        left: 60px;
    }
  }
  
  /* ------------------------------------------------------------------------------------ */
  @media (min-width: 1601px) {
     
    .title-works {
        left: 439px;
        bottom: 340px;
    }
      /* Estilo a etiqueta img de la clase redes */
    .redes img{
        width: 58px;
        height: 33px;
        margin-bottom: 20px;
        background-color: transparent ;
    }
      /* Estilo a clase ig de la clase redes */
    .redes .ig{
        width: 32px;
        text-decoration: none;
        margin-right: 3px;
        margin-left: 7px;
        width: 39px;
    }
    /* Menu de navegaciòn */
    .navegacion{
        padding: 6px 11px 6px 11px;
        margin-bottom: 9%;
        margin-right: 22px;
    }
    /* Estilos de botones de menu de navegacion */
    .navegacion .inicio {
        padding: 11px 21px 11px 21px;
    }
       /* Contenedor de datos de contacto */
    .aboutMe{
        top: 11%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .aboutMe h2{
        font-size: 74px;
        position: relative;
        left: 32%;
        width: 298px;
        margin-left: 0px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .aboutMe p{
        font-size: 21px;
        position: relative;
    }
    /* Estilos para el titulo */
    .titulo h1{
        font-size: 75px;
    }
    .titulo{
        transform: translate(9%, 83%);
    }
    /* Estilo para parrafo debajo del titulo */
    .titulo p{
        font-size: 40px;
    }
    /* Estilos del carousel */
    .carousel {
        left: 14%;
        top: 17%;
        height: 1023px;
        width: 73%;
    }
    /* Union de los slide */
    .carousel-inner {
        height: 6355px;
    }
    /* Bordes de imagenes del slide */
    .imagen-work{
        border-radius: 17px;
        height: 607px;
        top: 109px;
        left: 1px;
        padding-top: 81px;
      }
    .container {
        height: 586px;
    }
    .works-title2 {
        position: relative;
        left: 5%;
        bottom: 637px;
    }
    h3{
        font-size: 39px;
    }
    h6{
        font-size: 21px;
    }
    .colunm {
        height: 518px;
    }
    /* margen para imagenes de abajo del slide */
    .colunm img{
        border-radius: 5px;
        width: 85%;
        margin-bottom: -16px;
    }
     /* Estilos del contenedor del titulo de works */
    .works-title {    
        bottom: 811px;
        left: -1%;  
    }
    /* Estilo para titulo de la clase work title */
    .works-title h1{
        font-size: 48px;
        left: 7%;
        position: relative;
        top: 22px;
    }
    /* Contenedor de datos de contacto */
    .contacto{
        top: 35%;
    }
    /* Estilos para etiquetas h1 de la pagina de contacto*/
    .contacto h2{
        font-size: 77px;
        position: absolute;
        bottom: 114px;
        margin-bottom: 10px;
    }
    /* Estilos para etiquetas p de la pagina de contacto*/
    .contacto p{
        font-size: 20px;
        position: relative; 
    }
    .image-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 0%;
        height: 334px;
        left: -6%;
        margin-left: 61px;
        margin-right: 30px;
        margin-bottom: 8%;
    }
    /* menu de works */
    .menu {
        position: absolute;
        transform: translate(207%, 140%);
    }
    /* Titulo de works */
    .titulo2 {
        transform: translate(100%, 34%);
    }
    .title-works{
        text-align: center;
        color: white;
        font-family: 'jost', sans-serif;
        position: absolute;
        left: 468px;
        top: 39px;
    }
    .title-works h1{     
        font-size: 96px;
    }
    .compartirBtn{
        position: relative;
        left: 60px;
    }
  }